<div class="ui menu" style="width: 90%">
	<a href="/dashboard" class="header item">
		<i class="user icon"></i>My Dashboard
	</a>
   <a class="item" href="/makeBlog">
     <i class="edit icon"></i>Make Blog
   </a>
	   <a class="item">
     <i class="list layout icon"></i>Posts
   </a>
</div>