<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
    <div class="backgroundImage">
    <div style="padding-top: 10%; z-index: 50">
        <center>
            <br>
            <h1 class="title">Welcome to BlogMo</h1>
            <h3 style="color: white; font-size:2.5rem">Explore your thoughts</h3>
            <br>
            <br>
            <form action="/processLogin" data-ajax="false" method="POST" class="ui form" style="width: 25%">
                <div class="field">
                    <label class="formField">Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <br>
                <div class="field">
                    <label class="formField">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                
                <br>
                <button class="ui button posButtons" style="float: left; width: 50%" type="submit">Submit</button>
                <button class="ui button" style="float: right; background-color: #DDDAD6; width: 45%; font-size: 1.1rem"><a href="signup">Sign Up</a></button>
            </form>
            <br>
            <br>
            <br>
            <div class="ui tertiary inverted red segment" style="width: 25%; display: <%= errMsg.display %>">
                <p><%= errMsg.msg %></p>
            </div>
        </center>
    </div>
    </div>
</body>
</html>
