<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>

    <!-- Text editor for writing blog posts
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'' });</script-->
</head>
<body>
    <center>
        <br>
        <h1>Welcome to BlogMo</h1>
        <h3>Explore your thoughts</h3>
        <br>
        <br>
        <form action="/processLogin" data-ajax="false" method="POST" class="ui form" style="width: 50%">
            <div class="field">
                <label style="text-align: start">Email</label>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label style="text-align: start">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui button" style="float: left" type="submit">Submit</button>
            <a class="ui button" style="float: left" href="signup">Sign Up</a>
        </form>

    </center>
</body>
</html>
