<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
	<br>
	<center>
        <% include ../partials/menu %>
        <h1 class="title">Make a Blog!</h1>
        <br>
        <br>
        <br>
        <form action="/processBlog" data-ajax="false" method="POST" class="ui form" style="width: 50%">
            <div class="field">
                <label class="formField">Title</label>
                <input type="text" name="title" placeholder="Create Title">
            </div>
            <br>
            <div class="field">
                <label class="formField">Category</label>
                <input type="text" name="category" placeholder="Pick a Category">
            </div>
            <br>
            <div class="field">
                <label class="formField">Description</label>
                <textarea name="description"></textarea>
            </div>
            <br>
            <div style="display: none"></div>
            <br>
            <button class="ui button posButtons" style="float: left" type="submit">Create</button>
        </form>
    </center>
</body>
</html>	