<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
    <div style="padding-top: 9%">
        <center>
            <br>
            <h1>Sign Up Now</h1>
            <br>
            <br>
            <form action="/processSignUp" data-ajax="false" method="POST" class="ui form" style="width: 50%">
                <div class="field">
                    <label class="formField">Enter Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <br>
                <div class="field">
                    <label class="formField">Enter Password</label>
                    <input type="password" name="password">
                </div>
                <br>
                <div class="field">
                    <label class="formField">Confirm Password</label>
                    <input type="password" name="confirm">
                </div>
                <br>
                <br>
                <button class="ui button posButtons" style="float: left; width: 50%" type="submit">Submit</button>
                <a class="ui button" style="float: right; background-color: #DDDAD6; width: 45%;" href="/">Back</a>
            </form>
            <br>
            <br>
            <div class="ui tertiary inverted red segment" style="width: 50%; display: <%= errMsg.display %>">
                <p><%= errMsg.msg %></p>
            </div>
        </center>
    </div>
</body>
</html>        